@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Robotobold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: Oregano;
    src: url(../fonts/Oregano-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main{
    width: 85%;
    margin: 0 auto;
}

body{
    font-family: Roboto;
}

#header-up{
    height: 34px;
    background-color: #010F1C;
    .left-side{
        display: flex;
        align-items: center;
        height: 33px;
        p{
            color: white;
            font-size: 13.5px;
            font-weight: 500;
            margin-left: 10px;
            margin-top: 16px;
            opacity: 0.8;
        }
    }

    .right-side{
        width: 100%;
        height: 34px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        ul{
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            li{
                display: flex;
                font-size: 13.5px;
                font-weight: 600;
                height: 100%;
                padding: 9px 13px 9px 19px;
                border-right: 1px solid rgba(255, 255, 255, .2);
                a{
                    position: relative;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: white;
                    gap: 6px;
                    cursor: pointer;
                    i{
                        color: white;
                        margin-top: 4px;
                    }
                }
                .content-menu{
                    position: absolute;
                    margin-top: 32px;
                    z-index: -1;
                    opacity: 0;
                    transition: all 0.3s;
                    ul{
                        display: flex;
                        list-style: none;
                        flex-direction: column;
                        background-color: white;
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        padding: 13px 16px;
                        li{
                            padding: 0;
                            line-height: 29px;
                            a{
                                color: #010F1C;
                                transition: 0.3s;
                                &:hover{
                                    color: blue;
                                }
                            }
                        }
                    }
                }
                .content-menu-down{
                    animation: drop-down 1s;
                    display: block;
                    z-index: 4;
                    opacity: 1;
                }

                @keyframes drop-down {
                    from{
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                    }
                }
            }
        }
    }
}


#header-middle{
    .logo{
        display: flex;
        align-items: center;
        height: 105px;
    }
    .searching{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 105px;
        padding-left: 75px;
        .content{
            display: flex;
            align-items: center;
            border: 2px solid #0989FF;
            width: 566px;
            height: 50px;
            input{
                width: 319px;
                font-size: 14px;
                margin-left: 25px;
                position: relative;
                outline: none;
                border: none;
            }
            .select{
                position: relative;
                width: 174px;
                margin-left: 24px;
                cursor: pointer;
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 14px;
                    color: #010F1C;
                    i{  
                        transition: 0.1s;
                        margin-left: 10px;
                        margin-top: 2px;
                    }
                    .rotate{
                        transform: rotate(-180deg);
                    }
                }
                .selecting-menu{
                    transition: all 0.5s;
                    position: absolute;
                    margin-top: 20px;
                    z-index: -1;
                    opacity: 0;
                    ul{
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        background-color: white;
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        border-radius: 8px;
                        line-height: 40px;
                        padding: 0;
                        margin: 0;
                        li{
                            &:nth-child(1){
                                font-weight: 800;
                            }
                            line-height: 37px;
                            font-size: 13px;
                            text-align: left;
                            padding: 0px 28px 0px 19px;
                            a{
                                color: #010F1C;
                                transition: 0.5s;
                                &:hover{
                                    color: blue;
                                }
                            }
                        }
                    }
                }
                .search-down{
                    animation: drop-down 1s;
                    z-index: 3;
                    opacity: 1;
                    display: block;
                }

                @keyframes drop-down {
                    from{
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                    }
                }
            }
            .search-icon{
                width: 65px;
                height: 100%;
                background-color: #0989FF;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                cursor: pointer;
            }
            .vertical-line{
                margin-left: 17px;
                width: 1px;
                height: 20px;
                background-color: #010f1c4d;
            } 
        }
    }
    .account{
        width: 100%;
        height: 105px;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            gap: 10px;
            padding-left: 92px;
            .login-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 45px;
                border: 2px solid #010f1c1a;
                border-radius: 50%;
            }
            .content{
                p{
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                    &:nth-child(1){
                        font-size: 12px;
                        color: #767A7D;
                    }

                    &:nth-child(2){
                        font-size: 14px;
                        color: #010F1C;
                    }
                }
            }
        }
    }
    .actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 105px;
        margin-left: -12px;
        gap: 18px;
        .wishlist{
            position: relative;
            text-decoration: none;
            color: #010F1C;
            span{
                display: flex;
                justify-content: center;  
                align-items: center;
                position: absolute;
                width: 23px;
                height: 23px;
                top: -8px;
                right: -13px;
                color: white;
                font-size: 12px;
                z-index: 1;
                background-color: #FD4B6B;
                border-radius: 50%;
                border: 2px solid white;
                font-weight: 600;
            }
            img{
                &:hover{
                    filter: saturate(10);
                }
            }
        }

        .cart{
            position: relative;
            text-decoration: none;
            span{
                display: flex;
                justify-content: center;  
                align-items: center;
                position: absolute;
                width: 23px;
                height: 23px;
                top: -8px;
                right: -13px;
                color: white;
                font-size: 12px;
                z-index: 1;
                background-color: #FD4B6B;
                border-radius: 50%;
                border: 2px solid white;
                font-weight: 600;

            }
        }
    }
}