@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Robotobold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Jost;
  src: url(../fonts/Jost-VariableFont_wght.ttf);
}
@font-face {
  font-family: Oregano;
  src: url(../fonts/Oregano-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  width: 85%;
  margin: 0 auto;
}

body {
  font-family: Roboto;
}

#header-up {
  height: 34px;
  background-color: #010F1C;
}
#header-up .left-side {
  display: flex;
  align-items: center;
  height: 33px;
}
#header-up .left-side p {
  color: white;
  font-size: 13.5px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 16px;
  opacity: 0.8;
}
#header-up .right-side {
  width: 100%;
  height: 34px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
#header-up .right-side ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
#header-up .right-side ul li {
  display: flex;
  font-size: 13.5px;
  font-weight: 600;
  height: 100%;
  padding: 9px 13px 9px 19px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
#header-up .right-side ul li a {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 6px;
  cursor: pointer;
}
#header-up .right-side ul li a i {
  color: white;
  margin-top: 4px;
}
#header-up .right-side ul li .content-menu {
  position: absolute;
  margin-top: 32px;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
#header-up .right-side ul li .content-menu ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 13px 16px;
}
#header-up .right-side ul li .content-menu ul li {
  padding: 0;
  line-height: 29px;
}
#header-up .right-side ul li .content-menu ul li a {
  color: #010F1C;
  transition: 0.3s;
}
#header-up .right-side ul li .content-menu ul li a:hover {
  color: blue;
}
#header-up .right-side ul li .content-menu-down {
  animation: drop-down 1s;
  display: block;
  z-index: 4;
  opacity: 1;
}
@keyframes drop-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#header-middle .logo {
  display: flex;
  align-items: center;
  height: 105px;
}
#header-middle .searching {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 105px;
  padding-left: 75px;
}
#header-middle .searching .content {
  display: flex;
  align-items: center;
  border: 2px solid #0989FF;
  width: 566px;
  height: 50px;
}
#header-middle .searching .content input {
  width: 319px;
  font-size: 14px;
  margin-left: 25px;
  position: relative;
  outline: none;
  border: none;
}
#header-middle .searching .content .select {
  position: relative;
  width: 174px;
  margin-left: 24px;
  cursor: pointer;
}
#header-middle .searching .content .select a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  color: #010F1C;
}
#header-middle .searching .content .select a i {
  transition: 0.1s;
  margin-left: 10px;
  margin-top: 2px;
}
#header-middle .searching .content .select a .rotate {
  transform: rotate(-180deg);
}
#header-middle .searching .content .select .selecting-menu {
  transition: all 0.5s;
  position: absolute;
  margin-top: 20px;
  z-index: -1;
  opacity: 0;
}
#header-middle .searching .content .select .selecting-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  line-height: 40px;
  padding: 0;
  margin: 0;
}
#header-middle .searching .content .select .selecting-menu ul li {
  line-height: 37px;
  font-size: 13px;
  text-align: left;
  padding: 0px 28px 0px 19px;
}
#header-middle .searching .content .select .selecting-menu ul li:nth-child(1) {
  font-weight: 800;
}
#header-middle .searching .content .select .selecting-menu ul li a {
  color: #010F1C;
  transition: 0.5s;
}
#header-middle .searching .content .select .selecting-menu ul li a:hover {
  color: blue;
}
#header-middle .searching .content .select .search-down {
  animation: drop-down 1s;
  z-index: 3;
  opacity: 1;
  display: block;
}
@keyframes drop-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header-middle .searching .content .search-icon {
  width: 65px;
  height: 100%;
  background-color: #0989FF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
#header-middle .searching .content .vertical-line {
  margin-left: 17px;
  width: 1px;
  height: 20px;
  background-color: rgba(1, 15, 28, 0.3019607843);
}
#header-middle .account {
  width: 100%;
  height: 105px;
}
#header-middle .account a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  padding-left: 92px;
}
#header-middle .account a .login-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid rgba(1, 15, 28, 0.1019607843);
  border-radius: 50%;
}
#header-middle .account a .content p {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#header-middle .account a .content p:nth-child(1) {
  font-size: 12px;
  color: #767A7D;
}
#header-middle .account a .content p:nth-child(2) {
  font-size: 14px;
  color: #010F1C;
}
#header-middle .actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 105px;
  margin-left: -12px;
  gap: 18px;
}
#header-middle .actions .wishlist {
  position: relative;
  text-decoration: none;
  color: #010F1C;
}
#header-middle .actions .wishlist span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 23px;
  height: 23px;
  top: -8px;
  right: -13px;
  color: white;
  font-size: 12px;
  z-index: 1;
  background-color: #FD4B6B;
  border-radius: 50%;
  border: 2px solid white;
  font-weight: 600;
}
#header-middle .actions .wishlist img:hover {
  filter: saturate(10);
}
#header-middle .actions .cart {
  position: relative;
  text-decoration: none;
}
#header-middle .actions .cart span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 23px;
  height: 23px;
  top: -8px;
  right: -13px;
  color: white;
  font-size: 12px;
  z-index: 1;
  background-color: #FD4B6B;
  border-radius: 50%;
  border: 2px solid white;
  font-weight: 600;
}

#header-down {
  height: 50px;
  border-top: 1px solid rgba(1, 15, 28, 0.1019607843);
}
#header-down .additional-navbar {
  position: relative;
}
#header-down .all-categories {
  display: flex;
  align-items: center;
  position: relative;
  color: white;
  background-color: #0989FF;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  transition: 0.3s;
  cursor: pointer;
}
#header-down .all-categories img {
  margin-right: 15px;
}
#header-down .all-categories span {
  margin-right: 112px;
}
#header-down .all-categories:hover {
  background-color: #010F1C;
}
#header-down .all-categories .categories {
  position: absolute;
  background-color: white;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#header-down .all-categories .categories ul {
  padding: 0;
  margin: 0;
}
#header-down .all-categories .categories ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EAEBED;
  padding: 15px 25px 12px 30px;
}
#header-down .all-categories .categories ul li img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50px;
  height: 50px;
}
#header-down .all-categories .categories ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #55585b;
  transition: 0.5s;
}
#header-down .all-categories .categories ul li i {
  font-size: 12px;
  color: #010F1C;
  transition: 0.5s;
}
#header-down .all-categories .categories ul li:hover i {
  color: #0989FF;
}
#header-down .all-categories .categories ul li:hover a {
  color: #0989FF;
}
#header-down .header-navbar {
  height: 50px;
  display: flex;
  align-items: center;
}
#header-down .header-navbar ul {
  display: flex;
  list-style: none;
  gap: 35px;
  padding: 0;
  margin: 0;
}
#header-down .header-navbar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #010F1C;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s;
}
#header-down .header-navbar ul li a:hover {
  color: #0989FF;
}
#header-down .header-navbar ul li a i {
  padding-left: 5px;
}
#header-down .navunder {
  position: absolute;
  font-family: Jost;
  width: 87%;
  padding: 29px 40px;
  z-index: 7;
  background-color: white;
  margin-top: -2px;
}
#header-down .navunder a {
  text-decoration: none;
  color: #010F1C;
  cursor: pointer;
}
#header-down .navunder ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  line-height: 30px;
}
#header-down .navunder ul a:hover {
  color: #0989FF;
  transition: 0.5s;
}
#header-down .navunder ul li {
  padding: 0;
  margin-bottom: 8px;
}
#header-down .navunder ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #55585b;
  padding: 3px 0;
  transition: 0.5s;
}
#header-down .navunder ul li a:hover {
  color: #0989FF;
}
#header-down .open {
  animation: open-navunder 1s;
  transform-origin: top;
  display: block;
}
#header-down .close {
  animation: close-navunder 1s;
  transform-origin: top;
}
@keyframes open-navunder {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes close-navunder {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
#header-down .contact {
  height: 51px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  line-height: 15px;
}
#header-down .contact p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  color: #767A7D;
}
#header-down .contact a {
  text-decoration: none;
  color: #010F1C;
  font-size: 14px;
  transition: 0.5s;
  font-weight: 600;
}
#header-down .contact a:hover {
  color: #0989FF;
}

#slider {
  display: flex;
  align-items: center;
  height: 516px;
  position: relative;
  background-color: #115061;
}
#slider .content {
  display: none;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: white;
}
#slider .content span {
  animation-duration: 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  animation-name: fadeUp;
  font-size: 16px;
}
#slider .content h1 {
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeUp;
  width: 526px;
  font-size: 56px;
  font-weight: 900;
  line-height: 1.07;
  font-family: RobotoBold;
}
#slider .content p {
  animation-duration: 1s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeUp;
  margin-bottom: 40px;
  position: relative;
  font-size: 28px;
  font-family: Oregano;
}
#slider .content p span {
  color: #FFD43A;
  font-size: 28px;
}
#slider .content p img {
  position: absolute;
  bottom: -12px;
  left: 114px;
}
#slider .content a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 145px;
  height: 46px;
  padding: 9px 29px;
  border: 1px solid white;
  border-radius: 6px;
  color: #010F1C;
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s;
  animation-duration: 1s;
  animation-delay: 1s;
}
#slider .content a img {
  padding-left: 3px;
  position: relative;
}
#slider .content a:hover {
  color: white;
  border-color: rgba(255, 255, 255, 0.2);
  background: transparent;
}
#slider .active-slider {
  display: flex;
}
#slider .active-slider span, #slider .active-slider h1, #slider .active-slider p, #slider .active-slider a {
  animation-name: fadeUp;
  animation-fill-mode: both;
}
#slider .third p span {
  color: #FD4B6B;
}
#slider .third a:hover {
  background: #0989FF;
  color: white;
  border-color: #0989FF;
}
#slider .third a:hover img {
  filter: invert(100%);
}
#slider .image {
  width: 100%;
  display: none;
  justify-content: flex-end;
  animation-delay: 0.9s;
  animation-duration: 1s;
}
#slider .image img {
  position: relative;
  z-index: 6;
}
#slider .active-image {
  display: flex;
  animation-name: fadeRight;
  animation-fill-mode: both;
}
#slider img {
  position: absolute;
}
#slider .shape1 {
  top: 30%;
  left: 6%;
}
#slider .shape2 {
  top: 8%;
  right: 33%;
}
#slider .shape3 {
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 0.1;
  mix-blend-mode: luminosity;
}
#slider .shape4 {
  bottom: 13%;
  right: 28%;
}
#slider .arrows a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  color: white;
  border: 1px solid rgba(1, 15, 28, 0.1019607843);
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: all 0.3s 0s ease-out;
  opacity: 0;
  visibility: hidden;
}
#slider .arrows a:hover {
  border-color: white;
  background-color: white;
}
#slider .arrows a:hover img {
  filter: invert(100%);
}
#slider .arrows .left {
  top: 50%;
  left: 40px;
}
#slider .arrows .right {
  top: 50%;
  right: 40px;
}
#slider .pages {
  display: flex;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
}
#slider .pages .dot {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
#slider .pages .active-dot {
  background-color: white;
}
#slider:hover .arrows a {
  opacity: 1;
  visibility: visible;
}
#slider:hover .arrows .left {
  animation: fromleft 1s;
}
#slider:hover .arrows .right {
  animation: fromright 1s;
}
@keyframes fromleft {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fromright {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

#product-category {
  padding-bottom: 17px;
  padding-top: 63px;
}
#product-category .categoryofproduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#product-category .categoryofproduct a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 182px;
  width: 182px;
  margin-bottom: 16px;
  border-radius: 50%;
  background-image: radial-gradient(95.56% 95.56% at 50% 50%, #FFFFFF 0%, #BDDEFF 100%);
}
#product-category .categoryofproduct a img {
  transition: 0.5s;
}
#product-category .categoryofproduct a:hover img {
  transform: scale(1.1);
}
#product-category .categoryofproduct h6 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 0;
  font-family: RobotoBold;
}
#product-category .categoryofproduct span {
  font-size: 14px;
}

#feature-area {
  padding-top: 56px;
}
#feature-area .object {
  display: flex;
  width: 100%;
  padding: 29px 43px 25px;
  background-color: #F6F7F9;
  border-radius: 8px;
}
#feature-area .object .content {
  padding-left: 16px;
}
#feature-area .object .content h6 {
  font-size: 16px;
  margin: 0;
  font-family: RobotoBold;
}
#feature-area .object .content span {
  font-size: 14px;
  color: #55585b;
}/*# sourceMappingURL=home.css.map */