@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Robotobold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Jost;
    src: url(../fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: Oregano;
    src: url(../fonts/Oregano-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-main{
    width: 85%;
    margin: 0 auto;
}

body{
    font-family: Roboto;
}

#header-up{
    height: 34px;
    background-color: #010F1C;
    .left-side{
        display: flex;
        align-items: center;
        height: 33px;
        p{
            color: white;
            font-size: 13.5px;
            font-weight: 500;
            margin-left: 10px;
            margin-top: 16px;
            opacity: 0.8;
        }
    }

    .right-side{
        width: 100%;
        height: 34px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        ul{
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            li{
                display: flex;
                font-size: 13.5px;
                font-weight: 600;
                height: 100%;
                padding: 9px 13px 9px 19px;
                border-right: 1px solid rgba(255, 255, 255, .2);
                a{
                    position: relative;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: white;
                    gap: 6px;
                    cursor: pointer;
                    i{
                        color: white;
                        margin-top: 4px;
                    }
                }
                .content-menu{
                    position: absolute;
                    margin-top: 32px;
                    z-index: -1;
                    opacity: 0;
                    transition: all 0.3s;
                    ul{
                        display: flex;
                        list-style: none;
                        flex-direction: column;
                        background-color: white;
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        padding: 13px 16px;
                        li{
                            padding: 0;
                            line-height: 29px;
                            a{
                                color: #010F1C;
                                transition: 0.3s;
                                &:hover{
                                    color: blue;
                                }
                            }
                        }
                    }
                }
                .content-menu-down{
                    animation: drop-down 1s;
                    display: block;
                    z-index: 4;
                    opacity: 1;
                }

                @keyframes drop-down {
                    from{
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                    }
                }
            }
        }
    }
}


#header-middle{
    .logo{
        display: flex;
        align-items: center;
        height: 105px;
    }
    .searching{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 105px;
        padding-left: 75px;
        .content{
            display: flex;
            align-items: center;
            border: 2px solid #0989FF;
            width: 566px;
            height: 50px;
            input{
                width: 319px;
                font-size: 14px;
                margin-left: 25px;
                position: relative;
                outline: none;
                border: none;
            }
            .select{
                position: relative;
                width: 174px;
                margin-left: 24px;
                cursor: pointer;
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 14px;
                    color: #010F1C;
                    i{  
                        transition: 0.1s;
                        margin-left: 10px;
                        margin-top: 2px;
                    }
                    .rotate{
                        transform: rotate(-180deg);
                    }
                }
                .selecting-menu{
                    transition: all 0.5s;
                    position: absolute;
                    margin-top: 20px;
                    z-index: -1;
                    opacity: 0;
                    ul{
                        display: flex;
                        flex-direction: column;
                        list-style: none;
                        background-color: white;
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        border-radius: 8px;
                        line-height: 40px;
                        padding: 0;
                        margin: 0;
                        li{
                            &:nth-child(1){
                                font-weight: 800;
                            }
                            line-height: 37px;
                            font-size: 13px;
                            text-align: left;
                            padding: 0px 28px 0px 19px;
                            a{
                                color: #010F1C;
                                transition: 0.5s;
                                &:hover{
                                    color: blue;
                                }
                            }
                        }
                    }
                }
                .search-down{
                    animation: drop-down 1s;
                    z-index: 3;
                    opacity: 1;
                    display: block;
                }

                @keyframes drop-down {
                    from{
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                    }
                }
            }
            .search-icon{
                width: 65px;
                height: 100%;
                background-color: #0989FF;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                cursor: pointer;
            }
            .vertical-line{
                margin-left: 17px;
                width: 1px;
                height: 20px;
                background-color: #010f1c4d;
            } 
        }
    }
    .account{
        width: 100%;
        height: 105px;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            gap: 10px;
            padding-left: 92px;
            .login-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                height: 45px;
                border: 2px solid #010f1c1a;
                border-radius: 50%;
            }
            .content{
                p{
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                    &:nth-child(1){
                        font-size: 12px;
                        color: #767A7D;
                    }

                    &:nth-child(2){
                        font-size: 14px;
                        color: #010F1C;
                    }
                }
            }
        }
    }
    .actions{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 105px;
        margin-left: -12px;
        gap: 18px;
        .wishlist{
            position: relative;
            text-decoration: none;
            color: #010F1C;
            span{
                display: flex;
                justify-content: center;  
                align-items: center;
                position: absolute;
                width: 23px;
                height: 23px;
                top: -8px;
                right: -13px;
                color: white;
                font-size: 12px;
                z-index: 1;
                background-color: #FD4B6B;
                border-radius: 50%;
                border: 2px solid white;
                font-weight: 600;
            }
            img{
                &:hover{
                    filter: saturate(10);
                }
            }
        }

        .cart{
            position: relative;
            text-decoration: none;
            span{
                display: flex;
                justify-content: center;  
                align-items: center;
                position: absolute;
                width: 23px;
                height: 23px;
                top: -8px;
                right: -13px;
                color: white;
                font-size: 12px;
                z-index: 1;
                background-color: #FD4B6B;
                border-radius: 50%;
                border: 2px solid white;
                font-weight: 600;

            }
        }
    }
}


#header-down{
    .additional-navbar{
        position: relative;
    }
    height: 50px;
    border-top: 1px solid #010f1c1a;
    .all-categories{
        display: flex;
        align-items: center;
        position: relative;
        color: white;
        background-color: #0989FF;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        height: 50px;
        padding: 10px 30px;
        transition: 0.3s;
        cursor: pointer;
        img{
            margin-right: 15px;
        }
        span{
            margin-right: 112px;
        }

        &:hover{
            background-color: #010F1C;
        }

        .categories{
            position: absolute;
            background-color: white;
            width: 100%;
            top: 50px;
            left: 0;
            z-index: 1;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;    
            ul{
                padding: 0;
                margin: 0;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #EAEBED;
                    padding: 15px 25px 12px 30px;                    
                    img{
                        object-fit: contain;
                        width: 50px;
                        height: 50px;
                    }
                    a{
                        text-decoration: none;
                        font-size: 15px;
                        color: #55585b;
                        transition: 0.5s;
                    }
                    i{
                        font-size: 12px;
                        color: #010F1C;
                        transition: 0.5s;
                    }
                    
                    &:hover{
                        i{
                            color: #0989FF;
                        }
                        a{
                            color: #0989FF;
                        }
                    }   
                }
            }
        }
    }

    .header-navbar{
        height: 50px;
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            gap: 35px;
            padding: 0;
            margin: 0;
            li{
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #010F1C;
                    font-size: 14px;
                    font-weight: 600;
                    transition: 0.5s;
                    &:hover{
                        color: #0989FF;
                    }
                    i{
                        padding-left: 5px;
                    }
                }
            }
        }

    }

    .navunder{
        position: absolute;
        font-family: Jost;
        width: 87%;
        padding: 29px 40px;
        z-index: 7;
        background-color: white;
        margin-top: -2px;
        a{
            text-decoration: none;
            color: #010F1C;
            cursor: pointer;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            flex-direction: column;
            line-height: 30px;
            a{
                &:hover{
                    color: #0989FF;
                    transition: 0.5s;
                }
            }
            li{
                padding: 0;
                margin-bottom: 8px;
                a{
                    text-decoration: none;
                    font-size: 14px;
                    color: #55585b;
                    padding: 3px 0;
                    transition: 0.5s;
                    &:hover{
                        color: #0989FF;
                    }
                }
            }
        }
    }

    .open{
        animation: open-navunder 1s;
        transform-origin: top;
        display: block;
    }

    .close{
        animation: close-navunder 1s;
        transform-origin: top;
    }

    @keyframes open-navunder {
        from{
            transform: scaleY(0)
        }
        to{
            transform: scaleY(1)
        }
    }


    @keyframes close-navunder {
        from{
            transform: scaleY(1)
        }
        to{
            transform: scaleY(0)
        }
    }


    .contact{
        height: 51px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        line-height: 15px;
        p{
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-weight: 600;
            color: #767A7D;
        }
        a{
            text-decoration: none;
            color: #010F1C;
            font-size: 14px;
            transition: 0.5s;
            font-weight: 600;
            &:hover{
                color: #0989FF;
            }
        }
    }
}


#slider{
    display: flex;
    align-items: center;
    height: 516px;
    position: relative;
    background-color: #115061;
    .content{
        display: none;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        color: white;
        span{
            animation-duration: 1s;
            animation-delay: .3s;
            animation-fill-mode: both;
            animation-name: fadeUp;
            font-size: 16px;
        }
        h1{
            animation-duration: 1s;
            animation-delay: .5s;
            animation-fill-mode: both;
            animation-name: fadeUp;
            width: 526px;
            font-size: 56px;
            font-weight: 900;
            line-height: 1.07;
            font-family: RobotoBold;
        }
        p{
            animation-duration: 1s;
            animation-delay: .7s;
            animation-fill-mode: both;
            animation-name: fadeUp;
            margin-bottom: 40px;
            position: relative;
            font-size: 28px;
            font-family: Oregano;
            span{
                color: #FFD43A;
                font-size: 28px;
            }
            img{
                position: absolute;
                bottom: -12px;
                left: 114px;
            }
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 145px;
            height: 46px;
            padding: 9px 29px;
            border: 1px solid white;
            border-radius: 6px;
            color: #010F1C;
            background-color: white;
            font-size: 14px;
            font-weight: 600;
            transition: 0.5s;
            animation-duration: 1s;
            animation-delay: 1s;
            img{
                padding-left: 3px;
                position: relative;
            }

            &:hover{
                color: white;
                border-color: #fff3;
                background: transparent;
            }
        }

    }

    .active-slider{
        display: flex;
        span,h1,p,a{
            animation-name: fadeUp;
            animation-fill-mode: both;
        }
    }

    .third{
        p{
            span{
                color: #FD4B6B;
            }
        }
        a{
            &:hover{
                background: #0989FF;
                color: white;
                border-color: #0989FF;
                img{
                    filter: invert(100%);
                }
            }
        }
    }


    .image{
        width: 100%;
        display: none;
        justify-content: flex-end;
        animation-delay: .9s;
        animation-duration: 1s;
        img{
            position: relative;
            z-index: 6;
        }
    }

    .active-image{
        display: flex;
        animation-name: fadeRight;
        animation-fill-mode: both;
    }

    img{
        position: absolute;
    }

    .shape1{
        top: 30%;
        left: 6%;
    }

    .shape2{
        top: 8%;
        right: 33%;
    }

    .shape3{
        top: 0;
        right: 0;
        z-index: 0;
        opacity: 0.1;
        mix-blend-mode: luminosity;
    }
    .shape4{
        bottom: 13%;
        right: 28%;
    }
    

    .arrows{
        a{
            display: flex;
            align-items: center ;
            justify-content: center;
            width: 40px;
            height: 40px;
            position: absolute;
            color: white;
            border: 1px solid #010f1c1a;
            border-color: #fff3;
            border-radius: 50%;
            transition: all .3s 0s ease-out;
            opacity: 0;
            visibility: hidden;
            &:hover{
                border-color: white;
                background-color: white;
                img{
                    filter: invert(100%);
                }
            }
        }
        .left{
            top: 50%;
            left: 40px;
        }
        .right{
            top: 50%;
            right: 40px;
        }
    }

    .pages{
        display: flex;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translate(-50%);
        .dot{
            width: 10px;
            height: 10px;
            margin: 0 4px;
            background-color: #fff3;
            border-radius: 50%;
            cursor: pointer;
        }
        .active-dot{
            background-color: white;
        }
    }

    &:hover{
        .arrows{
            a{
                opacity: 1;
                visibility: visible;
            }
            .left{
                animation: fromleft 1s;
            }
            .right{
                animation: fromright 1s;
            }
        }
    }

    @keyframes fromleft {
        from{
            transform: translateX(-30px);
        }
        to{
            transform: translateX(0);
        }
    }

    @keyframes fromright {
        from{
            transform: translateX(30px);
        }
        to{
            transform: translateX(0);
        }
    }

    @keyframes fadeUp{
        0%{
            opacity: 0;
            transform: translateY(20px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes fadeRight{
        0%{
            opacity: 0;
            transform: translate(20px);
        }
        100%{
            opacity: 1;
            transform: translate(0);
        }
    }


}


#product-category{
    padding-bottom: 17px;
    padding-top: 63px;
    .categoryofproduct{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 182px;
            width: 182px;
            margin-bottom: 16px;
            border-radius: 50%;
            img{
                transition: 0.5s;
            }

            background-image: radial-gradient(95.56% 95.56% at 50% 50%, #FFFFFF 0%, #BDDEFF 100%);;
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }

        h6{
            width: 100%;
            font-size: 20px;
            text-align: center;
            margin: 0;
            font-family: RobotoBold;
        }
        span{
            font-size: 14px;
        }
    }
}


#feature-area{
    padding-top: 56px;
    .object{
        display: flex;
        width: 100%;
        padding: 29px 43px 25px;
        background-color: #F6F7F9;
        border-radius: 8px;
        .content{
            padding-left: 16px;
            h6{
                font-size: 16px;
                margin: 0;
                font-family: RobotoBold;
            }
            span{
                font-size: 14px;
                color: #55585b;
            }
        }
    }
}

#products{
    padding-top: 80px;
    .title{
        position: relative;
        h1{
            position: absolute;
            font-size: 36px;
            width: 100%;
            font-family: RobotoBold;
        }
        img{
            position: absolute;
            left: 0;
            bottom: -13px;
            z-index: -1;
        }
    }

    .product-category{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 43px;
        ul{
            display: flex;
            list-style: none;
            li{
                a{
                    position: relative;
                    margin-right: 47px;
                    text-decoration: none;
                    color: #A0A2A4;
                    font-size: 20px;
                    img{
                        display: none;
                        position: absolute;
                        left: 0;
                        bottom: -13px;
                    }
                }
                .active{
                    color: #010F1C;
                    img{
                        display: block;
                    }
                }
            }
        }
    }
}
.product{
    width: 100%;
    background-color: white;
    border: 1px solid #EAEBED;
    border-radius: 8px;
    transition: 0.5s;
    margin-bottom: 25px;
    .image{
        width: 100%;
        position: relative;
        z-index: 5;
        overflow: hidden;
        cursor: pointer;
        img{
            width: 100%;
            transition: 0.5s;
        }

        .out-stock{
            position: absolute;
            top: 16px;
            right: 20px;
            span{
                padding: 4px 8px 2px;
                font-size: 14px;
                background-color: #FD2D6C;
                border-radius: 4px;
                font-family: RobotoBold;
                color: white;
            }
        }

        .product-action{
            position: absolute;
            right: -20px;
            transition: all .3s 0s ease-out;
            opacity: 0;
            z-index: 1;
            visibility: hidden;
            bottom: 25px;
            ul{
                list-style: none;
                li{
                    a{
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 1px 3px #010f1c24;
                        background-color: white;
                        transition: 0.5s;
                        position: relative;
                        img{
                            width: auto;
                        }

                        .tools-text{
                            position: absolute;
                            visibility: hidden;
                            opacity: 0;
                            width: max-content;
                            font-size: 12px;
                            background-color: black;
                            color: #fff;
                            text-align: center;
                            border-radius: 4px;
                            padding: 4px 6px;
                            z-index: 1;
                            top: 50%;
                            right: 100%;
                            line-height: 1;
                            transform: translateY(-50%);
                            transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.71,1.7,.77,1.24);

                            &::after{
                                content: " ";
                                position: absolute;
                                top: 50%;
                                left: 100%;
                                margin-top: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: transparent transparent transparent black;
                            }
                        }

                        &:hover{
                            background-color: #0989FF;
                            img{
                                filter: invert(100%);
                            }

                            .tools-text{
                                visibility: visible;
                                opacity: 1;
                                transform: translate(-8px) translateY(-50%);
                            }
                        }
                    }

                    .active-wishlist{
                        background-color: #0989FF;
                        img{
                            filter: invert(100%);
                        }
                    }

                    &:nth-child(2){
                        a{
                            &:hover{
                                background-color: #010F1C;
                                img{
                                    filter: brightness(0) invert(1);
                                }
                            }
                        }
                    }
                }
            }
        }

        &:hover{
            .product-action{
                right: 20px;
                visibility: visible;
                opacity: 1;
            }
        }

    }

    .content{
        border-top: 1px solid #EAEBED;
        padding: 10px 30px 20px;
        display: flex;
        flex-direction: column;
        a{
            text-decoration: none;
        }
        .card-product-category{
            font-size: 12px;
            color: #55585b;
            padding-bottom: 3px;
        }

        .product-name{
            font-size: 15px;
            font-family: RobotoBold;
            color:#010F1C;
            padding-bottom: 7px;
        }

        .user-ratings{
            i{
                font-size: 13px;
                color: #FFB21D;
            }
            span{
                font-size: 12px;
                color: #55585b;
            }
        }

        .price{
            padding-top: 7px;
            .old-price{
                font-size: 12px;
                color: #55585b;
                text-decoration: line-through;
            }

            .new-price{
                font-size: 15px;
                color: #0989FF;
                font-family: RobotoBold;
            }
        }
    }

    &:hover{
        .image{
            img{
                transform: scale(1.1);
            }
        }
        .product-action{
            img{
                transform: none;
            }
        }
        box-shadow: 0 4px 10px #010f1c24;
    }

    .modal{
        .modal-header{
            border: none !important;
        }
        .modal-body{
            font-family: Jost;
            padding: 50px 50px 40px;
            position: relative;
            .close{
                position: absolute;
                top: 10px;
                cursor: pointer;
                right: 10px;
                img{
                    width: 22px;
                    height: 22px;
                }
            }
            .left-side{
                .product-image{
                    width: 100%;
                    margin-bottom: 10px;
                    background-color: #F4F5F7;
                    transition: 0.3s;
                    border: 1px solid #F4F5F7;
                    cursor: pointer;
                    img{
                        object-fit: cover;
                        width: 100%;
                    }

                    &:hover{
                        border: 1px solid #010F1C;
                    }
                }
                
                .active-image{
                    border: 1px solid #010F1C;
                }

                .preview-image{
                    display: none;
                    background-color: #F4F5F7;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .active-preview-image{
                    display: block;
                }
            }


            .right-side{
                margin-left: 21px;
                padding-top: 10px;
                .name{
                    span{
                        font-size: 16px;
                        color: #55585B;
                    }
                    h1{
                        font-size: 32px;
                        margin-bottom: 12px;
                    }
                }

                .reviews{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    span{
                        font-size: 13px;
                        background-color: #0989ff0f;
                        color: #0989FF;
                        padding: 4px 12px;
                    }
                    .user-ratings{
                        padding-left: 10px;
                        i{
                            font-size: 12px;
                            color: #FFB21D;
                        }
                        span{
                            padding: 0;
                            background: none;
                            color: #010F1C;
                        }
                    }
                }
                .detail{
                    p{
                        font-size: 15px;
                        color: #55585B;
                        margin-bottom: 15px;
                    }
                }

                .price{
                    .old-price{
                        font-size: 16px;
                        text-decoration: line-through;
                        color: #767A7D;
                    }
                    .new-price{
                        color: #010F1C;
                        font-size: 24px;
                        font-weight: 600;
                    }
                }

                .color{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                    span{
                        display: block;
                        font-size: 15px;
                        margin-bottom: 5px;
                    }
                    .colors{
                        display: flex;
                        div{
                            width: 26px;
                            height: 26px;
                            border-radius: 50%;
                            margin-right: 5px;
                            background-color: #010F1C;
                        }

                        .purply-blue{
                            background-color: #c1bae4;
                        }
                        .light-grey{
                            background-color: #d8d7dd;
                        }
                        .baby-pink{
                            background-color: #f3c0d1;
                        }
                        .bluish-cyan{
                            background-color: #64bfd1;
                        }
                    }
                }

                .actions{
                    .count-input{
                        width: 100%;
                        position: relative;
                        input{
                            width: 100%;
                            height: 46px;
                            line-height: 46px;
                            padding: 0 30px;
                            text-align: center;
                        }
                        span{
                            position: absolute;
                            cursor: pointer;
                        }
                        .minus{
                            left: 14px;
                            top: 10px;
                        }
                        .plus{
                            right: 14px;
                            top: 9px;
                        }
                    }
                }

                .add-to-cart-preview{
                    display: block;
                    width: 100%;
                    padding: 9px 30px;
                    font-size: 16px;
                    text-align: center;
                    border: 1px solid #E0E2E3;
                    color: #010F1C;
                    text-decoration: none;
                    transition: 0.3s;
                    &:hover{
                        background-color: #010F1C;
                        border-color: #010F1C;
                        color: white;
                    }
                }

                .buy-now{
                    margin-top: 15px;
                    display: block;
                    width: 100%;
                    padding: 10px 30px;
                    font-size: 16px;
                    background-color: #0989FF;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
           }
    }
}